.paragraph.paragraph--view-mode--inverse .bg-wrapper,
.paragraph.paragraph--view-mode--default .bg-wrapper {
  overflow: hidden;
}

.paragraph.paragraph--view-mode--inverse .bg-fullsize,
.paragraph.paragraph--view-mode--default .bg-fullsize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.paragraph.paragraph--view-mode--inverse .bg-video,
.paragraph.paragraph--view-mode--inverse .bg-image,
.paragraph.paragraph--view-mode--default .bg-video,
.paragraph.paragraph--view-mode--default .bg-image {
  min-width: 100%;
  min-height: 100%;
}

.paragraph.paragraph--view-mode--inverse .bg-video:not(.bg-parallax),
.paragraph.paragraph--view-mode--default .bg-video:not(.bg-parallax) {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.paragraph.paragraph--view-mode--inverse .bg-image,
.paragraph.paragraph--view-mode--default .bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
