.paragraph.paragraph--view-mode--default .bg-wrapper {
  overflow: hidden;
}

.paragraph.paragraph--view-mode--default .bg-fullsize {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.paragraph.paragraph--view-mode--default .bg-video,
.paragraph.paragraph--view-mode--default .bg-image {
  min-width: 100%;
  min-height: 100%;
}

.paragraph.paragraph--view-mode--default .bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.paragraph.paragraph--view-mode--default .IIV::-webkit-media-controls-play-button,
.paragraph.paragraph--view-mode--default .IIV::-webkit-media-controls-start-playback-button {
  width: 5px;
  pointer-events: none;
  opacity: 0;
}
