.paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-title,
.paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-title {
  margin-bottom: 0.5em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-title,
  .paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-title {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-title,
  .paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-lead-text,
  .paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-marketo-form,
  .paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-text,
  .paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-title,
  .paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-lead-text,
  .paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-marketo-form,
  .paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-text {
    float: left;
    clear: left;
    width: 50%;
  }
}

.paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-text,
.paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-text {
  display: none;
}

.paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-image,
.paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-image {
  padding: 1em;
  text-align: right;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .paragraph--type--marketo-form.paragraph--view-mode--default .field--name-field-image,
  .paragraph--type--marketo-form.paragraph--view-mode--default.layout--clean .field--name-field-image {
    float: right;
    width: 50%;
    text-align: right;
  }
}

.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm,
.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm * {
  font-family: inherit !important;
}

.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm .mktoLabel,
.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm .mktoRequiredField label.mktoLabel {
  display: inline-block;
  float: none;
  width: auto !important;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold !important;
  line-height: 1.5;
}

.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm input.mktoField,
.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm textarea.mktoField {
  min-height: inherit !important;
  padding: 10px !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.paragraph--type--marketo-form.paragraph--view-mode--default .mktoForm textarea.mktoField {
  height: auto !important;
  min-height: inherit !important;
  resize: vertical !important;
}
