/**
 * @file
 * HEADER paragraph
 */
.paragraph--type--header.paragraph--view-mode--default {
  padding: 0;
}

.paragraph--type--header.paragraph--view-mode--default + .paragraph ~ .paragraph {
  position: relative;
  z-index: 1;
}

.paragraph--type--header.paragraph--view-mode--default .background {
  position: relative;
  overflow: hidden;
  height: 600px;
  max-height: 100vh;
}

.paragraph--type--header.paragraph--view-mode--default .background::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(103, 175, 225, 0.5);
}

.paragraph--type--header.paragraph--view-mode--default .background .background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.paragraph--type--header.paragraph--view-mode--default .background .background-video, .paragraph--type--header.paragraph--view-mode--default .background .background-image {
  min-width: 100%;
  min-height: 100%;
}

.paragraph--type--header.paragraph--view-mode--default .background .background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.paragraph--type--header.paragraph--view-mode--default .background .IIV::-webkit-media-controls-play-button,
.paragraph--type--header.paragraph--view-mode--default .background .IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

.paragraph--type--header.paragraph--view-mode--default .field--name-field-title {
  font-size: 4em;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 800;
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
  .paragraph--type--header.paragraph--view-mode--default .field--name-field-title {
    font-size: 2.8em;
  }
}

.paragraph--type--header.paragraph--view-mode--default .field--name-field-secondary-title,
.paragraph--type--header.paragraph--view-mode--default .field--name-field-lead-text {
  font-size: 1.5em;
  margin-bottom: .5em;
}

@media screen and (max-width: 768px) {
  .paragraph--type--header.paragraph--view-mode--default .field--name-field-secondary-title,
  .paragraph--type--header.paragraph--view-mode--default .field--name-field-lead-text {
    font-size: 1.2em;
  }
}

.paragraph--type--header.paragraph--view-mode--default .field--name-field-title,
.paragraph--type--header.paragraph--view-mode--default .field--name-field-secondary-title {
  line-height: normal;
}

.paragraph--type--header.paragraph--view-mode--default .field--name-field-call-to-action .field__item {
  display: inline-block;
}

.paragraph--type--header.paragraph--view-mode--default .field--name-field-call-to-action a {
  color: white;
  display: inline-block;
  padding: .7em 1.4em;
  margin-right: .5em;
  border-radius: 3px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.paragraph--type--header.paragraph--view-mode--default .field--name-field-call-to-action a:hover, .paragraph--type--header.paragraph--view-mode--default .field--name-field-call-to-action a:focus, .paragraph--type--header.paragraph--view-mode--default .field--name-field-call-to-action a:active {
  text-decoration: none;
}

.paragraph--type--header.paragraph--view-mode--default .paragraph-inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  color: white;
  padding: 2em 1em;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .paragraph--type--header.paragraph--view-mode--default .paragraph-inner {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
  }
}
