.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link {
  text-align: center;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .field__item {
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .field__item:not(:last-child) {
  margin-right: 20px;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #aaa;
  border-radius: 50%;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social:hover {
  -webkit-transform: scale(1.1) translateZ(0);
  transform: scale(1.1) translateZ(0);
  background-color: #ddd;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social-facebook {
  background: url("../images/facebook.svg") no-repeat center center;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social-twitter {
  background: url("../images/twitter.svg") no-repeat center center;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social-linkedin {
  background: url("../images/linkedin.svg") no-repeat center center;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social-google {
  background: url("../images/gplus.svg") no-repeat center center;
}

.paragraph--type--social-links.paragraph--view-mode--default .field--name-parade-social-link .social-youtube {
  background: url("../images/youtube.svg") no-repeat center center;
}
