/**
 * @file
 * HEADER paragraph
 */

.paragraph--type--header.paragraph--view-mode--default {

  .bg-fullsize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bg-video, .bg-image {
    min-width: 100%;
    min-height: 100%;
  }

  .bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // iPhone inline video stuff.
  .IIV::-webkit-media-controls-play-button,
  .IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
  }

  // Call to action buttons.
  .field--name-field-call-to-action {
    .field__item, a {
      display: inline-block;
    }
  }
}
