/**
 * @file
 * HEADER paragraph
 */

.paragraph--type--header.paragraph--view-mode--default {

  // @todo move these, not needed to all paragraphs
  // .bg-wrapper {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  // }

  .bg-video {
    &.bg-static {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .bg-image {
    &.bg-static {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.bg-parallax {
      display: block;
      // max-height: 100%;
    }
  }

  .IIV::-webkit-media-controls-play-button,
  .IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
  }

  // Call to action buttons.
  .field--name-field-call-to-action {
    .field__item, a {
      display: inline-block;
    }
  }
}
