#parade-edit-moderation-wrapper {
  width: 100%;
  height: 48px;
  color: #565656;
  font-size: 14px;
  font-family: Arial;
  text-align: center;
  text-decoration: inherit;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 10px;
  font-weight: normal;
  text-decoration: none;
}

#parade-edit-moderation-wrapper form.published {
  background-color: #75c797;
}

#parade-edit-moderation-wrapper form.unpublished {
  background-color: #fff4f4;
}

#parade-edit-preferences-wrapper {
  text-align: center;
}

#parade-edit-preferences-wrapper a {
  opacity: 1;
  padding: 0px 16px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #2e6da4;
  border-style: none;
  background-color: #3399cc;
}

*[data-geysir-field-paragraph-field-wrapper] .field--item {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.geysir-field-paragraph-wrapper {
  position: relative;
  clear: both;
}

.geysir-field-paragraph-wrapper > * {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.geysir-field-paragraph-wrapper:not(.quickedit-active):hover, .geysir-field-paragraph-wrapper:not(.quickedit-active).hover {
  outline: 1px solid #ffffff;
  z-index: 1;
  border: 5px solid #3399cc;
  margin: -5px 0;
  transition: margin 100ms, border 100ms;
}

/* Overwrite geysir links */
.geysir-field-paragraph-wrapper:not(.quickedit-active):hover .geysir-field-paragraph-links, .geysir-field-paragraph-wrapper:not(.quickedit-active).hover .geysir-field-paragraph-links {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.geysir-field-paragraph-wrapper .geysir-field-paragraph-links li {
  z-index: 501;
}

.geysir-field-paragraph-wrapper > .geysir-field-paragraph-links li {
  z-index: 500;
}

.geysir-field-paragraph-links {
  display: none;
  margin: 0;
  padding: 0;
  position: static;
  list-style-type: none;
}

.geysir-field-paragraph-links li {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
}

.geysir-field-paragraph-links li a, .geysir-field-paragraph-links li span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 40px;
  width: 40px;
  text-indent: -9999px;
  transition: all 0.3s ease 0s;
}

.geysir-field-paragraph-links li a:hover, .geysir-field-paragraph-links li span:hover {
  background-color: #0065A0;
  color: white;
  border: none;
}

.geysir-field-paragraph-links li.add-after {
  transform: translate(0, 50%);
  bottom: 0;
}

.geysir-field-paragraph-links li.add-before {
  transform: translate(0, -50%);
  top: 0;
}

.geysir-field-paragraph-links li.add-after a, .geysir-field-paragraph-links li.add-before a {
  background-color: #3399cc;
  background-image: url("../images/geysir-add.svg");
  background-size: 15px;
  width: 35px;
  height: 35px;
}

.geysir-field-paragraph-links li.edit, .geysir-field-paragraph-links li.delete, .geysir-field-paragraph-links li.up, .geysir-field-paragraph-links li.down {
  transform: translate(0, 50%);
  bottom: 50%;
}

.geysir-field-paragraph-links li.edit a, .geysir-field-paragraph-links li.delete a, .geysir-field-paragraph-links li.up a, .geysir-field-paragraph-links li.down a {
  background-color: rgba(86, 84, 84, 0.6);
}

.geysir-field-paragraph-links li.edit a:hover, .geysir-field-paragraph-links li.delete a:hover, .geysir-field-paragraph-links li.up a:hover, .geysir-field-paragraph-links li.down a:hover {
  background-color: rgba(86, 84, 84, 0.88);
}

.geysir-field-paragraph-links li.edit {
  right: 131px;
}

.geysir-field-paragraph-links li.edit a {
  background-image: url("../images/geysir-gear.png");
  background-size: 23px 23px;
}

.geysir-field-paragraph-links li.up {
  right: 89px;
}

.geysir-field-paragraph-links li.up a {
  background-image: url("../images/geysir-up.svg");
}

.geysir-field-paragraph-links li.down {
  right: 47px;
}

.geysir-field-paragraph-links li.down a {
  background-image: url("../images/geysir-down.svg");
}

.geysir-field-paragraph-links li.delete {
  right: 5px;
}

.geysir-field-paragraph-links li.delete a {
  background-image: url("../images/geysir-trash.svg");
}

.geysir-field-paragraph-links li.parade-edit-quickedit span {
  width: 148px;
  text-indent: initial;
  padding: 20px;
  display: inline-block;
  background-image: none;
  height: auto;
  font-size: 20px;
  font-weight: normal;
}

.geysir-field-paragraph-links li.parade-edit-quickedit {
  top: 50%;
  transform: translate(-177%, -50%);
}

.geysir-field-paragraph-links .ajax-progress {
  left: 50%;
  margin: -5px 0 0 -8px;
  padding: 0;
  position: absolute;
  top: 50%;
}

.geysir-field-paragraph-links .ajax-progress-throbber .throbber {
  display: block;
  height: 13px;
  padding: 0;
  width: 17px;
}

#geysir-modal-form .js-form-item-paragraph.radio img {
  height: 24px;
}

#geysir-modal-form .js-form-item-paragraph.radio label {
  width: 100%;
}

article.node--unpublished {
  padding: 0;
}

.geysir-field-paragraph-wrapper .contextual {
  z-index: 1001;
}

.geysir-field-paragraph-wrapper .contextual .trigger {
  background-image: url("../images/geysir-pencil.svg");
  background-color: #3399cc;
  border-radius: 3px;
  width: 53px !important;
  height: 53px !important;
  border: 0;
  background-size: 25px;
}

/* These are popup fixes for edit forms */
.geysir-dialog {
  max-width: 743px;
}

.geysir-dialog.parade-preferences-popup {
  max-width: 1142px;
}

.geysir-dialog.parade-preferences-popup #geysir-modal {
  background-color: #f0f0f0;
}

.geysir-dialog .paragraph-form .layout.layout--onecol {
  /* @todo: this should be hidden from backend */
  display: none;
}

.geysir-dialog .item-mode-preview .paragraph-type-top {
  z-index: 1;
}

.geysir-dialog .paragraphs-subform > .form-wrapper {
  margin: 1em 0;
}

.geysir-dialog select.form-select {
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  font-size: 0.875rem;
  color: #595959;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.geysir-dialog .ui-dialog-buttonpane .button {
  color: #ffffff;
  padding: 6px 25px;
  border-color: transparent;
  border-radius: 3px;
  border-style: solid;
  font-size: 13px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-top: 0;
  background-color: #bdbdbd;
  box-shadow: none;
  border: 0;
  background-image: none;
  text-shadow: none;
  float: left;
}

.geysir-dialog .ui-dialog-buttonpane .button.parade_edit-cancel {
  background-color: #62b3e5;
}

.geysir-dialog .ui-dialog-buttonpane .button.parade_edit-draft {
  background-color: #62ccd1;
}

.geysir-dialog .ui-dialog .ui-dialog-buttonpane button {
  margin: 0;
}

/* Preferencies popup fixes. */
#geysir-modal {
  /*font-size: 13px;*/
  position: relative;
}

/* Discard dialog button fix */
.ui-dialog-buttonset .button:last-of-type {
  margin-right: 0;
}

#geysir-modal-form .contextual button {
  display: none;
}

.quickedit-field.quickedit-highlighted,
.quickedit-form.quickedit-highlighted,
.quickedit-field .quickedit-highlighted {
  box-shadow: 0 0 0 5px #007fff;
  transition: 200ms box-shadow;
}

.quickedit-field.quickedit-highlighted.quickedit-editing,
.quickedit-form.quickedit-highlighted.quickedit-editing,
.quickedit-field .quickedit-highlighted.quickedit-editing {
  box-shadow: 0 0 0 5px #3e42c3;
  transition: 200ms box-shadow;
}

/*# sourceMappingURL=parade_edit.paragraphs.css.map */
