/* TODO: redo with SASS and connect to micro system */
.block-local-tasks-block {
  background-color: #f0f0f0;
}

.block-local-tasks-block .tabs {
  max-height: none !important;
  padding-top: 0 !important;
  overflow: visible;
}

.block-local-tasks-block .tabs li {
  float: left;
  height: auto;
  width: auto;
  margin: 0 0 -1px;
  text-align: center;
  display: block;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  background-color: rgba(242, 242, 240, 0.7);
  color: #0074bd;
  text-overflow: ellipsis;
  white-space: nowrap;
  bottom: -5px;
}

.block-local-tasks-block .tabs li a {
  background: none;
  padding: 7px 2em 7px 2em;
  border-bottom: inherit;
}

.block-local-tasks-block .tabs li:hover {
  color: #008ee6;
  background-color: #fafaf7;
}

/* Overwrite demo stuff */

body.toolbar-horizontal.toolbar-tray-open .parade-campaign-page .logo, body.toolbar-horizontal.toolbar-tray-open .parade-campaign-page .site-branding__logo.not-fixed, body.toolbar-horizontal.toolbar-tray-open .parade-campaign-page .campaign-menu.not-fixed {
  top: 122px;
}

body.toolbar-horizontal .parade-campaign-page .logo, body.toolbar-horizontal .parade-campaign-page .site-branding__logo.not-fixed, body.toolbar-horizontal .parade-campaign-page .campaign-menu.not-fixed {
  top: 82px;
}

body.toolbar-vertical .parade-campaign-page .logo, body.toolbar-vertical .parade-campaign-page .site-branding__logo.not-fixed {
  top: 82px;
}

.block-system-branding-block {
  clear: both;
}
