/* TODO: redo with SASS and connect to micro system */
body.user-logged-in.page-node-type-parade-onepage {
  background-color: #f2f2f2;
}

.block-local-tasks-block > .tabs {
  max-height: none !important;
  padding-top: 15px !important;
  overflow: visible;
}

.block-local-tasks-block .tabs li {
  float: left;
  height: auto;
  width: auto;
  margin: 0 2px -1px;
  text-align: center;
  display: block;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  color: #0074bd;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.block-local-tasks-block .tabs li a {
  font-size: 14px;
  background: none;
  padding: 7px 2em 7px 2em;
  border-bottom: none;
}

.block-local-tasks-block .tabs li.is-active {
  line-height: 25px;
  border: none;
  border-bottom: 1px solid white;
}

.block-local-tasks-block .tabs li:hover {
  color: #008ee6;
  background-color: #fafaf7;
}

.block-local-tasks-block li.bordered {
  border: 1px solid #d1d1d1;
  background-color: #dddddd;
}

.block-system-main-block {
  border-top: 7px solid #ffffff;
}

/* Overwrite demo stuff */

body.toolbar-horizontal.toolbar-tray-open .parade-campaign-page .logo, body.toolbar-horizontal.toolbar-tray-open .parade-campaign-page .site-branding__logo.not-fixed, body.toolbar-horizontal.toolbar-tray-open .parade-campaign-page .campaign-menu.not-fixed {
  top: 141px;
}

body.toolbar-horizontal .parade-campaign-page .logo, body.toolbar-horizontal .parade-campaign-page .site-branding__logo.not-fixed, body.toolbar-horizontal .parade-campaign-page .campaign-menu.not-fixed {
  top: 101px;
}

body.toolbar-vertical .parade-campaign-page .logo, body.toolbar-vertical .parade-campaign-page .site-branding__logo.not-fixed {
  top: 101px;
}

.block-system-branding-block {
  clear: both;
}
