@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin mobile-center {
  text-align: center;
  @media screen and (min-width: $narrow) {
    text-align: left;
  }
}
