.node--type-parade-onepage {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

.node--type-parade-onepage .block-core {
  display: none;
}

.node--type-parade-onepage .field--name-field-parade-onepage-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 1em;
}

.node--type-parade-onepage .field--name-field-parade-onepage-menu a {
  color: white;
}

.node--type-parade-onepage .paragraph.paragraph--view-mode--default {
  padding: 30px;
  background: #fff;
}

.node--type-parade-onepage .paragraph.paragraph--view-mode--default .paragraph-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default {
  position: relative;
  padding: 0;
  background: transparent;
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .bg-wrapper .bg-fullsize {
  z-index: -2 !important;
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner:before,
.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner:after {
  display: table;
  content: " ";
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner:after {
  clear: both;
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .paragraph__title {
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: -2px;
  color: white;
  font-size: 4em;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .paragraph__title {
    font-size: 2.8em;
  }
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field--name-field-secondary-title,
.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field--name-field-lead-text {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field--name-field-secondary-title,
  .node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field--name-field-lead-text {
    font-size: 1.2em;
  }
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field--name-field-call-to-action a {
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field--name-field-call-to-action a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field {
  color: white;
}

.node--type-parade-onepage .paragraph--type--header.paragraph--view-mode--default .paragraph-inner .field:last-child {
  margin-bottom: 1em;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default:before,
.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default:after {
  display: table;
  content: " ";
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default:after {
  clear: both;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--one-column-grey {
  background: #f3f3f3;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--one-column-shaded {
  background: #292929;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--one-column-shaded .paragraph__title {
  color: white;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--two-column-title-1st-inverse {
  background: #292929;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--two-column-title-1st-inverse .paragraph__title {
  float: left;
  width: 45.37815%;
  margin-right: 0.84034%;
  color: white;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--two-column-title-1st-inverse .field {
  float: right;
  width: 45.37815%;
  margin-right: 0;
  color: white;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--two-column-content-1st-inverse {
  background: #292929;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--two-column-content-1st-inverse .paragraph__title {
  float: right;
  width: 45.37815%;
  margin-right: 0;
  color: white;
}

.node--type-parade-onepage .paragraph--type--simple.paragraph--view-mode--default.layout--two-column-content-1st-inverse .field {
  float: left;
  width: 45.37815%;
  margin-right: 0.84034%;
  color: white;
}

.node-parade-onepage-form .field--name-field-parade-onepage-menu .field-multiple-table td,
.node-parade-onepage-edit-form .field--name-field-parade-onepage-menu .field-multiple-table td {
  padding: 0.5em 0;
}

.node-parade-onepage-form .field--name-field-parade-onepage-menu .field-multiple-table .form-item,
.node-parade-onepage-edit-form .field--name-field-parade-onepage-menu .field-multiple-table .form-item {
  float: left;
  width: 50%;
  padding-left: 0.5em;
}

.node-parade-onepage-form .field--name-field-parade-onepage-menu .field-multiple-table a.tabledrag-handle,
.node-parade-onepage-edit-form .field--name-field-parade-onepage-menu .field-multiple-table a.tabledrag-handle {
  top: 10px;
  margin-left: 0;
}

.node-parade-onepage-form .paragraph-type-top,
.node-parade-onepage-edit-form .paragraph-type-top {
  float: none;
  clear: none;
  margin-bottom: 0.5em;
}

.node-parade-onepage-form .paragraphs-subform > .form-wrapper,
.node-parade-onepage-edit-form .paragraphs-subform > .form-wrapper {
  margin: 1em 0;
}

.node-parade-onepage-form .tabledrag-toggle-weight-wrapper,
.node-parade-onepage-form td.tabledrag-hide,
.node-parade-onepage-edit-form .tabledrag-toggle-weight-wrapper,
.node-parade-onepage-edit-form td.tabledrag-hide {
  display: none !important;
}

.node-parade-onepage-form .field-multiple-table,
.node-parade-onepage-edit-form .field-multiple-table {
  width: 100%;
}

.node-parade-onepage-form .field-multiple-table th.field-label,
.node-parade-onepage-edit-form .field-multiple-table th.field-label {
  text-align: left;
}

.node-parade-onepage-form .field-multiple-table tr,
.node-parade-onepage-edit-form .field-multiple-table tr {
  border-bottom: 1px solid #e3e3e3;
}

.node-parade-onepage-form .field-multiple-table .drag,
.node-parade-onepage-form .field-multiple-table .drag-previous,
.node-parade-onepage-edit-form .field-multiple-table .drag,
.node-parade-onepage-edit-form .field-multiple-table .drag-previous {
  background-color: #f3f3f3;
}

.node-parade-onepage-form .field-multiple-table td,
.node-parade-onepage-edit-form .field-multiple-table td {
  padding: 1.2em 0 1.2em 0.5em;
}

.node-parade-onepage-form .field-multiple-table .field-multiple-drag,
.node-parade-onepage-edit-form .field-multiple-table .field-multiple-drag {
  position: relative;
  padding: 1.2em 0;
}

.node-parade-onepage-form .field-multiple-table .field-multiple-drag abbr.tabledrag-changed,
.node-parade-onepage-edit-form .field-multiple-table .field-multiple-drag abbr.tabledrag-changed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: transparent;
  background: #f3f3f3;
}

.node-parade-onepage-form .field-multiple-table a.tabledrag-handle,
.node-parade-onepage-edit-form .field-multiple-table a.tabledrag-handle {
  position: absolute;
  z-index: 1;
  top: 1em;
  margin-left: 0;
}

.node-parade-onepage-form .field-multiple-table a.tabledrag-handle .handle,
.node-parade-onepage-edit-form .field-multiple-table a.tabledrag-handle .handle {
  height: 17px;
  margin: 5px;
  background-position: 0 0;
}

.node-parade-onepage-form .paragraph-type-title,
.node-parade-onepage-edit-form .paragraph-type-title {
  float: left;
}

.node-parade-onepage-form .paragraphs-button-wrapper,
.node-parade-onepage-edit-form .paragraphs-button-wrapper {
  margin: 2em 0;
}

.node-parade-onepage-form .paragraph-actions,
.node-parade-onepage-edit-form .paragraph-actions {
  display: inline-block;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  list-style: none;
}

.node-parade-onepage-form .paragraph-actions li:first-child,
.node-parade-onepage-edit-form .paragraph-actions li:first-child {
  margin-left: 0;
}

.node-parade-onepage-form .paragraph-actions .button,
.node-parade-onepage-edit-form .paragraph-actions .button {
  padding: 5px 1em;
  box-shadow: 0;
}

.node-parade-onepage-form .paragraph-actions > li,
.node-parade-onepage-edit-form .paragraph-actions > li {
  display: inline-block;
  margin-left: 1em;
}
