/* Overwrite geysir links */
.geysir-field-paragraph-wrapper {
  &:not(.quickedit-active) {
    &:hover .geysir-field-paragraph-links, &.hover .geysir-field-paragraph-links {
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
    }
  }
  .geysir-field-paragraph-links li {
    z-index: 501;
  }
  > .geysir-field-paragraph-links li {
    z-index: 500;
  }
}

.geysir-field-paragraph-links {
  display: none;
  margin: 0;
  padding: 0;
  position: static;
  list-style-type: none;
  li {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    a, span {
      // background-color: #3399cc;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      border: none;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-weight: bold;
      height: 40px;
      width: 40px;
      text-indent: -9999px;
      transition: all 0.3s ease 0s;
    }
    a:hover, span:hover {
      background-color: #0065A0;
      color: white;
      border: none;
    }
    &.add-after {
      transform: translate(0, 50%);
      bottom: 0;
    }
    &.add-before {
      transform: translate(0, -50%);
      top: 0;
    }
    &.add-after,
    &.add-before {
      a {
        background-color: #3399cc;
        background-image: url('../images/geysir-add.svg');
        background-size: 15px;
        width: 35px;
        height: 35px;
      }
    }
    &.edit,
    &.delete,
    &.up,
    &.down {
      transform: translate(0, 50%);
      bottom: 50%;
      a {
        background-color: rgba(86, 84, 84, 0.6);
        &:hover {
          background-color: rgba(86, 84, 84, 0.88);
        }
      }
    }
    &.edit {
      right: 131px;
      a {
        background-image: url('../images/geysir-gear.png');
        background-size: 23px 23px;
      }
    }
    &.up {
      right: 89px;
      a {
        background-image: url('../images/geysir-up.svg');
      }
    }
    &.down {
      right: 47px;
      a {
        background-image: url('../images/geysir-down.svg');
      }
    }
    &.delete {
      right: 5px;
      a {
        background-image: url('../images/geysir-trash.svg');
      }
    }
    &.parade-edit-quickedit span {
      width: 148px;
      text-indent: initial;
      padding: 20px;
      display: inline-block;
      background-image: none;
      height: auto;
      font-size: 20px;
      font-weight: normal;
    }
    &.parade-edit-quickedit {
      top: 50%;
      transform: translate(-177%, -50%);
    }
  }
  .ajax-progress {
    left: 50%;
    margin: -5px 0 0 -8px;
    padding: 0;
    position: absolute;
    top: 50%;
  }
  .ajax-progress-throbber .throbber {
    display: block;
    height: 13px;
    padding: 0;
    width: 17px;
  }
}

#geysir-modal-form .js-form-item-paragraph.radio {
  img {
    height: 24px;
  }
  label {
    width: 100%;
  }
}

article.node--unpublished {
  padding: 0;
}

.geysir-field-paragraph-wrapper {
  .contextual .trigger {
    background-image: url('../images/geysir-pencil.svg');
    background-color: #3399cc;
    border-radius: 3px;
    width: 53px !important;
    height: 53px !important;
    border: 0;
    background-size: 25px;
  }
}
