@import "base/variables";
@import "base/mixins";
@import "components/hamburger";
@import "sections/sections";
//#######################
.node--type-parade-onepage {
  font-family: $font-family;
  position: relative;
  background: rgba(black, 0.1);
  // @todo better solution. Hide blocks in config install?
  .block-core {
    display: none;
  }
  .paragraph.paragraph--view-mode--default {
    padding: 30px;
    .paragraph-inner {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
  .field--name-field-parade-onepage-menu {
    position: absolute;
    top: 32px;
    right: 0;
    margin: 1em;
    z-index: 1;
    @include md {
      top: 0;
    }
    a {
      color: white;
    }
  }
}

.page-node-type-parade-onepage{
  .ui-dialog .ui-widget-content.ui-dialog-content{
    background: 0;
    padding: 0;
  }
}
