.page-node-type-parade-onepage {
  #header{
    background: 0;
  }
  .paragraph--type--header.paragraph--view-mode--default {
    padding: 0;
    position: relative;
    background: transparent;
    .bg-wrapper {
      .bg-fullsize {
        z-index: -2 !important;
      }
      .bg-parallax {
        .bg-image {
          //background-attachment: fixed;
        }
      }
    }
    .paragraph-inner {
      @include clearfix;
      padding: 0 10px;
      @include lg {
        padding: 0;
      }
      .paragraph__title {
        font-size: 2.8em;
        font-weight: 800;
        margin-bottom: 20px;
        letter-spacing: -2px;
        color: white;
        display: block;
        line-height: 1.1;
        @include breakpoint-max(lg) {
          font-size: 4em;
        }
        @include mobile-center;
      }
      .field--name-field-secondary-title {
        @include mobile-center;
      }
      .field--name-field-secondary-title,
      .field--name-field-lead-text {
        @include mobile-center;
        font-size: 1.5em;
        margin-bottom: .5em;
        @include breakpoint-max(lg) {
          font-size: 1.2em;
        }
      }
      // Call to action buttons.
      .field--name-field-call-to-action {
        @include mobile-center;
        a {
          border: 1px solid white;
          border-radius: 3px;
          padding: .5em 1em;
          color: white;
          transition: all .25s;
          cursor: pointer;
          background-color: rgba(white, 0.1);
          &:hover {
            background-color: rgba(white, 0.3);
          }
        }
      }
      .field {
        color: white;
        &:last-child {
          margin-bottom: 1em;
        }
      }
    }
  }
}
