
.paragraphs-dropbutton-wrapper {
  .button.parade-button {
    width: calc(20% - .5em) !important;
    margin-left: .25em;
    margin-right: .25em;
    background-repeat: no-repeat !important;
    background-position: center .7em !important;
    background-size: auto;
    background-color: #ffffff;
    box-shadow: none;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    border-color: rgb(231, 232, 233);
  }
}












