
.parade-actions {
  li input {

  }
}

.node-parade-onepage-form .field--name-parade-onepage-menu .field-add-more-submit,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu .field-add-more-submit {
  background: #337ab7;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  border: none;
  width: 159px;
  height: 39px;
  font-size: 12px;
}






