.node-parade-onepage-form .field-multiple-table tr.even, .node-parade-onepage-edit-form .field-multiple-table tr.even,
.node-parade-onepage-form .field-multiple-table tr.even, .node-parade-onepage-edit-form .field-multiple-table tr.odd {
  background-color: #ffffff;
}

.node-parade-onepage-form .field-multiple-table tr.even, .node-parade-onepage-edit-form .field-multiple-table tr {
  border-color: rgb(231, 232, 233);
  border-radius: 3px;
}

.node-parade-onepage-form .field--name-parade-onepage-menu,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu {
  background-color: rgb(98, 179, 229);
}

.node-parade-onepage-form .field--name-parade-onepage-menu .field-multiple-table tr:hover,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu .field-multiple-table tr:hover {
  background-color: rgb(98, 179, 229);
}

.node-parade-onepage-form .field--name-parade-onepage-menu .field-multiple-table tr,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu .field-multiple-table tr {
  background-color: rgb(98, 179, 229);
}




