.js-form-item {
  label {
    font-size: 13px;
    font-weight: 600;
    color: $dark-grey-text;
  }
}

.field--name-parade-secondary-title {
  margin-top: 30px;
}

.field--name-parade-title,
.field--name-parade-secondary-title{
  margin-bottom: 40px;
  .js-form-item input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $light-grey-border;
    border-color: $light-grey-border;
    border-radius: 0;
    padding-left: 0;
    color: $black;
    font-size: 13px;
    font-weight: 600;
  }
}

.field--name-parade-title {
  .js-form-item input {
    font-size: 16px;
  }
}

.field--name-parade-lead-text {
  .js-form-item textarea {
    background-color: transparent;
    border-bottom: 1px solid $light-grey-border;
    border-color: $light-grey-border;
    border-radius: 0;
    background-color: transparent;
    color: $black;
    font-size: 13px;
    font-weight: 600;
  }
}

.field--name-parade-call-to-action {
  fieldset {
    background-color: $fieldset-background !important;
    border: 0;
    border-radius: 0;
  }
}



