.js-form-item {
  label,
  .fieldset-legend {
    font-size: 13px;
    font-weight: 600;
    color: $dark-grey-text;
  }
}
.field--name-parade-title,
.field--name-parade-secondary-title{
  margin-bottom: 40px;
  .js-form-item input {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $light-grey-border;
    border-color: $light-grey-border;
    border-radius: 0;
    padding-left: 0;
    color: $black;
    font-size: 13px;
    font-weight: 600;
  }
}

.field--name-parade-title {
  .js-form-item input {
    font-size: 16px;
  }
}

.field--name-parade-lead-text {
  .js-form-item textarea {
    background-color: transparent;
    border-bottom: 1px solid $light-grey-border;
    border-color: $light-grey-border;
    border-radius: 0;
    background-color: transparent;
    color: $black;
    font-size: 13px;
    font-weight: 600;
  }
}

.field--name-parade-call-to-action {
  fieldset {
    background-color: $fieldset-background !important;
    border: 0;
    border-radius: 0;
  }
}

.field--name-parade-call-to-action {
  text-align: left !important;
}

.field--name-parade-background {
  margin-bottom: 30px;
  .button,
  .button:hover {
    background-color: rgb(189, 189, 189);
    background-image: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding: 6px 10px;
    border-width: 0px;
    border-radius: 3px;
    border-style: solid;
    font-size: 13px;
    font-style: normal;
    text-align: center;
    width: 83px;
    height: 30px;
    box-shadow: none;
    text-shadow: none;
  }
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0 !important;
}



