.node-parade-onepage-form .field--name-parade-onepage-menu .field-multiple-table tr td label,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu .field-multiple-table tr td label {
  color: #ffffff;
}

.field--name-parade-onepage-menu {
  .field-label h4 {
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }
}


