.entity-meta {
  border: none !important;
  box-shadow: none !important;
}

.entity-meta__header,
.entity-meta details {
  background-color: $light-grey !important;
  border: 0 !important;
  box-shadow: none !important;
}

