{#
/**
 * @file
 */
#}
{%
set classes = [
  'paragraph',
  parade.enable_parallax ? 'paragraph--parallax',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<section{{ attributes.addClass(classes) }}>

  {% if view_mode != 'preview' %}
    {% if parade.enable_parallax %}
    <div class="bg-fullsize bg-parallax">
    {% endif %}
      <div class="bg-image bg-fullsize" style="background-image: url({{- parade.background.url -}});"></div>
    {% if parade.enable_parallax %}
    </div>
    {% endif %}
  {% endif %}

  <div class="paragraph-inner">
    {{ content }}
  </div>
</section>
