{#
/**
 * @file
 */
#}
{%
set classes = [
  'paragraph',
  'paragraph--parallax',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--background-' ~ parade.background.type|clean_class,
]
%}
{% if view_mode != 'preview' %}
<div{{ attributes.addClass(classes) }} data-parallax="scroll" data-image-src="{{- parade.background.url -}}">
{% else %}
<div{{ attributes.addClass(classes) }}>
{% endif %}
  <section class="paragraph-inner">
    {{ content }}
  </section>
</div>
