{#
/**
 * @file
 */
#}
{%
set classes = [
  'paragraph',
  'paragraph--parallax',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>

  {% if view_mode != 'preview' %}
    <div class="bg-wrapper">
      <img class="bg-image bg-parallax" src="{{- parade.background.url -}}">
    </div>
  {% endif %}

  <section class="paragraph-inner">
    {{ content }}
  </section>
</div>
